.main{

    border: 1px solid;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.2s;
  
}
.main:hover{
    transform: translateY(-15px);
}

.user-main{
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    padding-top: 20px;

}

.user-whole{
    height: 100%;
}

.user-image{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.main p {
    padding-left: 50px;
    overflow: hidden;
    max-width: 100%; 
    max-height: 80px; 
}


.main h3{
    padding-left: 10px;
}