.main-page{
    margin: auto;
    border: 2px solid;
    width: 440px;
    height: 280px;
    padding: 20px;
    border-radius: 10px;
}
.bt-ad{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.cat-main{
    margin: auto;
    /* border: 2px solid; */
    width: 600px;
    margin-top: 50px;
    text-align: center;
}

table{
    border: 1px solid;
    margin: auto;
    width: 100%;
    text-align: center;
}
table td,th{
    border: 1px solid ;
}
.update-form{
    /* border: 2px solid; */
    /* width: 600px; */
}
.update-form > form{
    /* margin-top: 10px; */
    border-radius: 10px;
    padding: 10px;
    border: 2px solid;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    z-index: 1;
    /* background-color: aqua; */
}
.bt-update{
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
button{
    border-radius: 2px;
    padding: 2px;
}